*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.game{
    display: flex;
    flex-wrap: wrap;
    height: 60vmin;
    width: 60vmin;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    border-radius: 1rem;
    border: none;
    background-color: aquamarine;
    color: black;
}

#reset{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: aliceblue;
    font-size: 1.25rem;
}
#new{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: aliceblue;
    font-size: 1.25rem;
}
#msg{
    color: antiquewhite;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}